body {
  font-family: Verdana , Geneva , Tahoma , sans-serif;
}

.footer {
  background: #3C1B7A;
  height: 253px;
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100vw;
  z-index: -1;
}

.logoTrivia {
  display: block;
  margin: 0 auto auto;
}

.play {
  align-items: center;
  color: #FFFFFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.12em;
  line-height: 150%;
  text-align: center;

  background: #2FC18C;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 45px;
  width: 213px;
}

.ranking {
  align-items: center;
  color: #FFFFFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.12em;
  line-height: 150%;
  text-align: center;

  background: #00D5E2;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 45px;
  width: 212.5px;
}


.box {
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  /* left: 421px;
  position: absolute;
  top: 329px; */
  max-width: 439px;
  margin: 150px auto auto;
}

.mensagem {
  color: #EA5D5D;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  height: 71px;
  /* left: 470px; */
  line-height: 150%;
  /* position: absolute; */
  text-align: center;
  text-transform: uppercase;
  /* top: 400px; */
}

.assertions {
  align-items: center;
  color: #B5B5B5;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 48px;
  /* left: 530px; */
  line-height: 150%;
  /* position: absolute; */
  text-align: center;
  /* top: 513px; */
}

.score {
  text-align: center;
  color: #B5B5B5;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 48px;
  /* left: 550px; */
  line-height: 150%;
  /* position: absolute; */
  text-align: center;
  /* top: 490px; */
}

.foto {
  border: 4px solid #EA5D5D;
  border-radius: 104.412px;
  box-sizing: border-box;
  filter: drop-shadow(0 0 9 #EA5D5D);
  height: 213px;
  margin-top: -130px;
  /* left: 534px;
  position: absolute; */
  /* top: 200px; */
  width: 213px;
  z-index: 1;
}

