body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loginMainDiv {
  background-image: url('../images/backgroundLogin.png');
  background-size: cover;
  height: 100vh;
  position: absolute;
  width: 100vw;
  z-index: -11;
}

.purpleLayer {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgb(60, 0, 122, 0.75));
  height: 100vh;
  position: absolute;
  width: 100vw;
  z-index: -10;
}

.loginForm {
  align-items: center;
  background-color: white;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  margin: 25vh auto auto;
  max-width: 614px;
}

.loginForm img {
  height: 100px;
  margin: 25px 0;
  width: 250px;
}

.loginForm input {
  border: 1px solid rgb(225, 229, 235);
  height: 45px;
  margin-bottom: 20px;
  width: 519px;
}

.btn-success {
  background-color: rgb(47, 193, 140);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  height: 45px;
  margin-bottom: 20px;
  width: 519px;
}


.intContainer {
  height: 768px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  position: absolute;
  right: 0;
  width: 1366px;
  z-index: -9;
}

.intRed {
  height: 24.5%;
  left: 75%;
  position: absolute;
  top: 8%;
  z-index: -9;
}

.intYellow {
  height: 38%;
  left: 80%;
  position: absolute;
  top: 40%;
  z-index: -9;
}

.intGreen {
  height: 38%;
  left: 16%;
  position: absolute;
  top: 12%;
  z-index: -9;
}

.intBlue {
  height: 27%;
  left: 8%;
  position: absolute;
  top: 48%;
  z-index: -9;
}

.btnSettings {
  font-size: 28px;
  border: none;
  background-color: white;
}


@media only screen and (max-width : 1040px) {

  .loginForm {
    max-width: 100%;
  }

  .loginForm label {
    width: 100%;
  }

  .loginForm input {
    width: 100%;
  }

  .loginForm div,
  .loginForm button {
    margin: 0;
    width: 100%;
  }

  .intRed {
    height: 18%;
    left: 66%;
    top: 1%;
  }

  .intGreen {
    height: 24%;
    left: 10%;
    top: 4%;
  }

  .intYellow {
    height: 24%;
    left: 60%;
    top: 75%;
  }

  .intBlue {
    height: 18%;
    left: 6%;
    top: 77%;
  }
}